#root {  
  margin: 0;
  padding: 0;
}

#page1{
  /* background: linear-gradient(130deg , #000000, #000000,#011); */
  background: linear-gradient(130deg ,rgb(3, 19, 48),  #000000, #000000,rgb(28, 4, 54));

  max-height: 100vh;
  color: #eee;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
  row-gap: 20px;

}

nav{
  display: flex;
  /* justify-content:space-between; */
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px 0px ;
  /* background-color: #011; */
  font-size: clamp(14px, 2vw, 20px);


}

nav h3{

  width: 170px;
  height: 50px;
  text-align: center;
  line-height: 30px;
  /* background-color: rgb(22, 83, 196); */
  background: linear-gradient(to right, rgb(15, 51, 117),rgb(81, 11, 155));

  font-size: clamp(14px, 2vw, 18px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

#name-img{
  display: flex;
  flex-direction: row;
  width: 35px;
  height: 35px;
}

#menu-img{
  /* display: flex; */
/* display: none; */
visibility: hidden;
 width: 50px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;

}


#menu-img:hover{
  transform: scale(1.1);
}

nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 40px;
}

nav ul li a{
  display: block;
  text-decoration: none;
  color: #eee;
  font-size: clamp(14px, 2vw, 17px);
  
  font-weight: 500 ;
  transition: all 0.5s;        

}


.hover-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

/* underline */
.hover-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #9d00ff;
  transition: width 0.3s ease;
}

/* hover */
.hover-link:hover::after {
  width: 100%;
}


nav ul li a:hover{
  color: rgb(112, 23, 207);
  cursor: pointer;
    text-shadow: 0 0 2px rgb(112, 23, 207),
               0 0 40px rgb(112, 23, 207),
               0 0 80px rgb(112, 23, 207);

}

main{
    padding-top: 30px ;

    display: flex;
    justify-content: center;
}


#hero{
  /* background-color: rgb(23, 60, 153); */
    
}

#hero{
  max-width: 56%;
  font-family: poppins,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero img{
  height: 100px;
  width: 100px;
}
#hero h1{
  /* font-size: 70px; */
  font-size: clamp(20px, 4vw, 70px);
  margin: 10px 0px 0px 0px;
  text-align: center;

}





.glide-text {
  font-size: clamp(24px, 5vw, 72px);
  font-weight: 700;
  text-align: center;

  background: linear-gradient(
    90deg,
    #a855f7,
    #5ca9eb,
    #180b35,
    #a855f7
  );

  background-size: 300% 300%;
  animation: gradientMove 10s linear infinite;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}







#hero h5{
  /* background: linear-gradient(to right, rgb(15, 51, 117),rgb(81, 11, 155)); */

  border-radius: 10px;
  display: block  ;
  font-size: clamp(15px, 3vw, 25px);

  margin: 20px 0px 0px 0px;
  text-align: center;
  padding: 10px ;
  font-weight: 500;
  color: rgb(112, 23, 207);

    text-shadow: 0 0 2px rgb(112, 23, 207),
               0 0 40px rgb(112, 23, 207),
               0 0 80px rgb(112, 23, 207);


}



#hero button{

   width: 160px;
  height: 40px;
  text-align: center;
  background: linear-gradient(to right, rgb(15, 51, 117),rgb(81, 11, 155));
  border-radius: 10px;
  border: none;
  color: #eee;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;

  cursor: pointer;
}

#hero button:hover{

  transform: scale(1.1);

}



#hero p{
  margin: 50px 0px 50px 0px;
  font-size: 17px;
  line-height: 30px;
  font-size: clamp(14px, 2vw, 17px);

}

#down-arrow{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#down-arrow img{
  width: 20px;
  height: 30px;

  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  
}


@keyframes arrow{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
        
    }

    100%{
        transform: translateY(0px);

    }
    
}






@media (max-width: 720px) {

  #page1 nav ul{
    display: none;

  }

  #menu-img{
    visibility: visible;

  }


  main{
    padding-top: 80px ;
    display: flex;
    justify-content: center;
}


  #hero{
  max-width: 90%;
  font-family: poppins,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


#hero h1{
  /* font-size: 70px; */
  font-size: clamp(32px, 4vw, 70px);
  margin: 10px 0px 0px 0px;
  text-align: center;

}

#hero h5{
  /* background: linear-gradient(to right, rgb(15, 51, 117),rgb(81, 11, 155)); */

  border-radius: 10px;
  display: block  ;
  font-size: clamp(20px, 3vw, 25px);

  margin: 20px 0px 0px 0px;
  text-align: center;
  padding: 10px ;
  font-weight: 500;
  color: rgb(112, 23, 207);

    text-shadow: 0 0 2px rgb(112, 23, 207),
               0 0 40px rgb(112, 23, 207),
               0 0 80px rgb(112, 23, 207);


}







.side-navbar-container {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 150px;

    background: linear-gradient(
        rgba(15, 51, 117, 0.75),
        rgba(81, 11, 155, 0.67)
    );

    padding: 30px;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.5);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    color: white;
}

.side-navbar-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* li */
.side-navbar-container ul li {
    position: relative;
}

/* link fills li */
.side-navbar-container ul li a {
    display: block;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
}

/* animated underline */
.side-navbar-container ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #c084fc; /* purple glow */
    transition: width 0.5s ease, left 0.5s ease;
}

/* hover effect */
.side-navbar-container ul li a:hover::after {
    width: 100%;
    left: 0;
}




#page1{


}


}


@media (min-width: 721px) and (max-width:992px){


  #page1{

  min-height: 100vh;

}


  #page1 nav ul{
    display: none;

  }

  #menu-img{
    visibility: visible;

  }


  main{
    padding-top: 60px ;
    display: flex;
    justify-content: center;
}


  #hero{
  max-width: 90%;
  font-family: poppins,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


#hero h1{
  /* font-size: 70px; */
  font-size: clamp(32px, 4vw, 70px);
  margin: 10px 0px 0px 0px;
  text-align: center;

}

#hero h5{
  /* background: linear-gradient(to right, rgb(15, 51, 117),rgb(81, 11, 155)); */

  border-radius: 10px;
  display: block  ;
  font-size: clamp(20px, 3vw, 25px);

  margin: 20px 0px 0px 0px;
  text-align: center;
  padding: 10px ;
  font-weight: 500;
  color: rgb(112, 23, 207);

    text-shadow: 0 0 2px rgb(112, 23, 207),
               0 0 40px rgb(112, 23, 207),
               0 0 80px rgb(112, 23, 207);


}





.side-navbar-container {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 150px;

    background: linear-gradient(
        rgba(15, 51, 117, 0.75),
        rgba(81, 11, 155, 0.67)
    );

    padding: 30px;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.5);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    color: white;
}

.side-navbar-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* li */
.side-navbar-container ul li {
    position: relative;
}

/* link fills li */
.side-navbar-container ul li a {
    display: block;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
}

/* animated underline */
.side-navbar-container ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #c084fc; /* purple glow */
    transition: width 0.5s ease, left 0.5s ease;
}

/* hover effect */
.side-navbar-container ul li a:hover::after {
    width: 100%;
    left: 0;
}




}