#root {  
  margin: 0;
  padding: 0;
}

#page1{
  /* background: linear-gradient(130deg , #000000, #000000,#011); */
  background: linear-gradient(130deg ,rgb(2, 12, 31),  #000000, #000000,rgb(15, 2, 29));

  height: 100vh;
  color: #eee;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
  row-gap: 20px;

}

nav{
  display: flex;
  /* justify-content:space-between; */
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px 0px ;
  /* background-color: #011; */
  font-size: clamp(14px, 2vw, 20px);


}

nav h3{

  width: 170px;
  height: 50px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(22, 83, 196);
  font-size: clamp(14px, 2vw, 18px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

#name-img{
  display: flex;
  flex-direction: row;
  width: 35px;
  height: 35px;
}

#menu-img{
  /* display: flex; */
/* display: none; */
visibility: hidden;
 width: 50px;
  height: 50px;
}


nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 40px;
}

nav ul li a{
  display: block;
  text-decoration: none;
  color: #eee;
  font-size: clamp(14px, 2vw, 17px);
  
  font-weight: 500 ;
  transition: all 0.5s;        

}

nav ul li a:hover{
  text-shadow: 0 0 5px rgb(22, 83, 196),
               0 0 20px rgb(22, 83, 196),
               0 0 30px rgb(22, 83, 196);
}

main{
    display: flex;
    justify-content: center;
}


#hero{
  /* background-color: rgb(23, 60, 153); */
    
}

#hero{
  max-width: 56%;
  font-family: poppins,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero img{
  height: 100px;
  width: 100px;
}
#hero h1{
  /* font-size: 70px; */
  font-size: clamp(20px, 4vw, 70px);
  margin: 10px 0px 0px 0px;
  text-align: center;

}

#hero h5{
  /* background: linear-gradient(to right, rgb(15, 51, 117),rgb(81, 11, 155)); */

  border-radius: 10px;
  display: block  ;
  font-size: clamp(15px, 3vw, 25px);

  margin: 20px 0px 0px 0px;
  text-align: center;
  padding: 10px ;
  font-weight: 500;
  color: rgb(112, 23, 207);

    text-shadow: 0 0 2px rgb(112, 23, 207),
               0 0 40px rgb(112, 23, 207),
               0 0 80px rgb(112, 23, 207);


}



#hero button{

   width: 160px;
  height: 40px;
  text-align: center;
  background: linear-gradient(to right, rgb(15, 51, 117),rgb(81, 11, 155));
  border-radius: 10px;
  border: none;
  color: #eee;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;

  
}

#hero p{
  margin: 50px 0px 50px 0px;
  font-size: 17px;
  line-height: 30px;
  font-size: clamp(14px, 2vw, 17px);

}



@media (max-width: 720px) {

  #page1 nav ul{
    display: none;

  }

  #menu-img{
    visibility: visible;

  }

}


@media (min-width: 721px) and (max-width:992px){

  #page1 nav ul{
    display: none;

  }

  #menu-img{
    visibility: visible;

  }



}